{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "paperspace-api"
    },
    "servers": [
        {
            "url": "https://api.paperspace.io"
        }
    ],
    "paths": {
        "/jobs/{jobId}/artifactsDestroy": {
            "post": {
                "summary": "Destroy artifact files of the job with the given id",
                "operationId": "JobsArtifactsDestroy",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobId",
                        "required": true,
                        "description": "The id of the job to destroy artifacts for",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "request body params",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobsArtifactsDestroyRequestBody"
                            }
                        }
                    }
                }
            }
        },
        "/jobs/artifactsGet": {
            "get": {
                "summary": "Get the artifacts files for the job with the given id",
                "operationId": "JobsArtifactsGet",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobId",
                        "required": true,
                        "description": "Id of the job to get artifacts for",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "files",
                        "required": false,
                        "description": "Optional; if getting only certain files, a wildcard pattern to match against, e.g., \"myfiles*\".  Note: if you include a wildcard you must double-quote the files argument.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dest",
                        "required": false,
                        "description": "Optional; an existing directory to copy the artifacts files to.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "json",
                        "required": false,
                        "description": "Optional; return JSON object instead of writing to standard out.  '--json' with no value is equivalent to true.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobsArtifactsGetResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/artifactsList": {
            "get": {
                "summary": "List job artifact files for the specified job",
                "operationId": "JobsArtifactsList",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobId",
                        "required": true,
                        "description": "Id of the job to list artifacts for",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "files",
                        "required": false,
                        "description": "Optional; wildcard expression of file(s) to list, e.g., \"myfiles*\".  Note: if you include a wildcard you must double-quote the files argument.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "size",
                        "required": false,
                        "description": "Optional; include file size in bytes.  '--size' with no value is equivalent to true.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "links",
                        "required": false,
                        "description": "Optional; include https links to artifacts.  Note: links are only valid for 8 hours. '--links' with no value is equivalent to true.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "json",
                        "required": false,
                        "description": "Optional; return JSON object instead of writing to standard out.  '--json' with no value is equivalent to true.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobsArtifactsListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{jobId}/clone": {
            "post": {
                "summary": "Clone an exiting job and queue the cloned copy to run",
                "operationId": "JobsClone",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobId",
                        "required": true,
                        "description": "Id of the job to clone",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobsCloneResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/createJob": {
            "post": {
                "summary": "Create a new Paperspace job, and tail its log output if run at the command line",
                "operationId": "JobsCreate",
                "tags": [
                    "jobs"
                ],
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobsCreateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "request body params",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobsCreateRequestBody"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/jobs/{jobId}/destroy": {
            "post": {
                "summary": "Destroy the job with the given id",
                "operationId": "JobsDestroy",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobId",
                        "required": true,
                        "description": "The id of the job to destroy",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/getJobs": {
            "get": {
                "summary": "List information about all jobs available to either the current authenticated user or the team, if the user belongs to a team",
                "operationId": "JobsList",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "project",
                        "required": false,
                        "description": "Optional project to match on.  If neither project nor projectId are provided, this is taken from the .ps_project/config.json file, or the current directory name.  Specify 'all' to list jobs for all projects associated with the user or team if the user is on a team.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "projectId",
                        "required": false,
                        "description": "Optional projectId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "name",
                        "required": false,
                        "description": "Optional job name to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "machineType",
                        "required": false,
                        "description": "Optional machineType to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "state",
                        "required": false,
                        "description": "Optional state value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "container",
                        "required": false,
                        "description": "Optional container to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "command",
                        "required": false,
                        "description": "Optional command to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "workspace",
                        "required": false,
                        "description": "Optional workspace path to match on.  Note: the original workspace path will be modified on upload to point to a temporary location.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dataset",
                        "required": false,
                        "description": "Optional dataset to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobsListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/logs": {
            "get": {
                "summary": "Stream the logs for the job with the given id, while the job is running or after it has stopped",
                "operationId": "JobsLogs",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobId",
                        "required": true,
                        "description": "Id of the job to logs",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "tail",
                        "required": false,
                        "description": "Optional; if tail is specified logs will be streamed until the job stops.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "line",
                        "required": false,
                        "description": "Optional; if line is specified logs only logs after that line will be returned (up to limit).",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "limit",
                        "required": false,
                        "description": "Optional; number of log lines to retrieve on each request; default limit is 2000.",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "json",
                        "required": false,
                        "description": "Optional; return JSON object instead of writing to standard out.  '--json' with no value is equivalent to true.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobsLogsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/getClusterAvailableMachineTypes": {
            "get": {
                "summary": "Return a list of available cluster machine types",
                "operationId": "JobsMachineTypes",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "region",
                        "required": false,
                        "description": "Optional region to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "cluster",
                        "required": false,
                        "description": "Optional cluster to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "machineType",
                        "required": false,
                        "description": "Optional machine type to macth on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "isBusy",
                        "required": false,
                        "description": "Optional busy status value to match on",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobsMachineTypesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/getJob": {
            "get": {
                "summary": "Wait for the job with the given id to enter a certain job state",
                "operationId": "JobsWaitfor",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobId",
                        "required": true,
                        "description": "Id of the job to wait for",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "state",
                        "required": true,
                        "description": "Name of the state to wait for",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobsWaitforResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{jobId}/stop": {
            "post": {
                "summary": "Stop an individual job",
                "operationId": "JobsStop",
                "tags": [
                    "jobs"
                ],
                "parameters": [
                    {
                        "name": "jobId",
                        "required": true,
                        "description": "Id of the job to shut down",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apiTokens/createPublic": {
            "post": {
                "summary": "Logs in the user and acquires an api key",
                "operationId": "LoginUser",
                "tags": [
                    "login"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginUserResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "request body params",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginUserRequestBody"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/machines/getAvailability": {
            "get": {
                "summary": "Get machine availability for the given region and machine type",
                "operationId": "MachinesAvailability",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "region",
                        "required": true,
                        "description": "Name of the region: either 'East Coast (NY2)', 'West Coast (CA1)', or 'Europe (AMS1)'",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "machineType",
                        "required": true,
                        "description": "Machine type: either 'GPU+', 'P4000', 'P5000', 'P6000', or 'V100'<p>",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachinesAvailabilityResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/machines/createSingleMachinePublic": {
            "post": {
                "summary": "Create a new Paperspace virtual machine",
                "operationId": "MachinesCreate",
                "tags": [
                    "machines"
                ],
                "parameters": [],
                "responses": {
                    "201": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachinesCreateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "request body params",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MachinesCreateRequestBody"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/machines/{machineId}/destroyMachine": {
            "post": {
                "summary": "Destroy the machine with the given id",
                "operationId": "MachinesDestroy",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "machineId",
                        "required": true,
                        "description": "The id of the machine to destroy",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "request body params",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MachinesDestroyRequestBody"
                            }
                        }
                    }
                }
            }
        },
        "/machines/getMachines": {
            "get": {
                "summary": "List information about all machines available to either the current authenticated user or the team, if the user belongs to a team",
                "operationId": "MachinesList",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "machineId",
                        "required": false,
                        "description": "Optional machine id to match on. Note: must be specified as \"machineId\", not \"id\".",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "name",
                        "required": false,
                        "description": "Optional name to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "os",
                        "required": false,
                        "description": "Optional os to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "ram",
                        "required": false,
                        "description": "Optional ram value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "cpus",
                        "required": false,
                        "description": "Optional cpu count to match on",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "gpu",
                        "required": false,
                        "description": "Optional gpu to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "storageTotal",
                        "required": false,
                        "description": "Optional storageTotal value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "storageUsed",
                        "required": false,
                        "description": "Optional storageUsed value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "usageRate",
                        "required": false,
                        "description": "Optional usageRate value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "shutdownTimeoutInHours",
                        "required": false,
                        "description": "Optional shutdownTimeoutInHours value to match on",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "performAutoSnapshot",
                        "required": false,
                        "description": "Optional performAutoSnapshot value to match on, either true or false",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "autoSnapshotFrequency",
                        "required": false,
                        "description": "Optional autoSnapshotFrequency value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "autoSnapshotSaveCount",
                        "required": false,
                        "description": "Optional autoSnapshotSaveCount value to match on",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "agentType",
                        "required": false,
                        "description": "Optional agentType value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dtCreated",
                        "required": false,
                        "description": "Optional datetime created value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "state",
                        "required": false,
                        "description": "Optional state value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "updatesPending",
                        "required": false,
                        "description": "Optional updatesPending value to match on",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "networkId",
                        "required": false,
                        "description": "Optional networkId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "privateIpAddress",
                        "required": false,
                        "description": "Optional privateIpAddress to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "publicIpAddress",
                        "required": false,
                        "description": "Optional publicIpAddress to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "region",
                        "required": false,
                        "description": "Optional region to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "userId",
                        "required": false,
                        "description": "Optional userId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "teamId",
                        "required": false,
                        "description": "Optional teamId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "scriptId",
                        "required": false,
                        "description": "Optional scriptId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dtLastRun",
                        "required": false,
                        "description": "Optional script datetime last run value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachinesListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/machines/{machineId}/restart": {
            "post": {
                "summary": "Restart an individual machine",
                "operationId": "MachinesRestart",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "machineId",
                        "required": true,
                        "description": "Id of the machine to restart",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/machines/getMachinePublic": {
            "get": {
                "summary": "Wait for the machine with the given id to enter a certain machine state",
                "operationId": "MachinesWaitfor",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "machineId",
                        "required": true,
                        "description": "Id of the machine to wait for",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "state",
                        "required": true,
                        "description": "Name of the state to wait for, either 'off', 'serviceready', 'ready'",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachinesWaitforResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/machines/{machineId}/start": {
            "post": {
                "summary": "Start up an individual machine",
                "operationId": "MachinesStart",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "machineId",
                        "required": true,
                        "description": "Id of the machine to start",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/machines/{machineId}/stop": {
            "post": {
                "summary": "Stop an individual machine",
                "operationId": "MachinesStop",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "machineId",
                        "required": true,
                        "description": "Id of the machine to shut down",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/machines/{machineId}/updateMachinePublic": {
            "post": {
                "summary": "Update attributes of a machine",
                "operationId": "MachinesUpdate",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "machineId",
                        "required": true,
                        "description": "Id of the machine to update",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "request body params",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MachinesUpdateRequestBody"
                            }
                        }
                    }
                }
            }
        },
        "/machines/getUtilization": {
            "get": {
                "summary": "Get machine utilization data for the machine with the given id",
                "operationId": "MachinesUtilization",
                "tags": [
                    "machines"
                ],
                "parameters": [
                    {
                        "name": "machineId",
                        "required": true,
                        "description": "Id of the machine to get utilization data for",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "billingMonth",
                        "required": true,
                        "description": "Billing period to query in `YYYY-MM` format",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachinesUtilizationResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/getNetworks": {
            "get": {
                "summary": "List information about all networks available to either the current authenticated user or the team, if the user belongs to a team",
                "operationId": "NetworksList",
                "tags": [
                    "networks"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "required": false,
                        "description": "Optional network id to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "name",
                        "required": false,
                        "description": "Optional name to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "region",
                        "required": false,
                        "description": "Optional region to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dtCreated",
                        "required": false,
                        "description": "Optional datetime created value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "network",
                        "required": false,
                        "description": "Optional network to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "netmask",
                        "required": false,
                        "description": "Optional netmask to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "teamId",
                        "required": false,
                        "description": "Optional teamId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NetworksListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/scripts/createScript": {
            "post": {
                "summary": "Creates a new startup script",
                "operationId": "ScriptsCreate",
                "tags": [
                    "scripts"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScriptsCreateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "request body params",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ScriptsCreateRequestBody"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/scripts/{scriptId}/destroy": {
            "post": {
                "summary": "Destroys the starup script with the given id",
                "operationId": "ScriptsDestroy",
                "tags": [
                    "scripts"
                ],
                "parameters": [
                    {
                        "name": "scriptId",
                        "required": true,
                        "description": "The id of the script to destroy",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Expected response to a valid request"
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/scripts/getScripts": {
            "get": {
                "summary": "List information about all scripts assigned to either the current authenticated user or the team, if the user belongs to a team",
                "operationId": "ScriptsList",
                "tags": [
                    "scripts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "required": false,
                        "description": "Optional script id to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "ownerType",
                        "required": false,
                        "description": "Optional ownerType to match on, either 'user' or 'team'",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "ownerId",
                        "required": false,
                        "description": "Optional ownerId to match on, either a userId or teamId",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "name",
                        "required": false,
                        "description": "Optional name to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "description",
                        "required": false,
                        "description": "Optional description to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dtCreated",
                        "required": false,
                        "description": "Optional datetime created value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "isEnabled",
                        "required": false,
                        "description": "Optional isEnabled value to match on, either true or false",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "runOnce",
                        "required": false,
                        "description": "Optional runOnce value to match on, either true or false",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScriptsListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/scripts/getScript": {
            "get": {
                "summary": "Show information for the script with the given id, except for the script text",
                "operationId": "ScriptsShow",
                "tags": [
                    "scripts"
                ],
                "parameters": [
                    {
                        "name": "scriptId",
                        "required": true,
                        "description": "Id of the script to show",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScriptsShowResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/scripts/getScriptText": {
            "get": {
                "summary": "Gets the text of the script with the given id",
                "operationId": "ScriptsText",
                "tags": [
                    "scripts"
                ],
                "parameters": [
                    {
                        "name": "scriptId",
                        "required": true,
                        "description": "Id of the script to get text for",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScriptsTextResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/templates/getTemplates": {
            "get": {
                "summary": "List information about all templates available to either the current authenticated user or the team, if the user belongs to a team",
                "operationId": "TemplatesList",
                "tags": [
                    "templates"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "required": false,
                        "description": "Optional template id to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "name",
                        "required": false,
                        "description": "Optional name to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "label",
                        "required": false,
                        "description": "Optional label to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "os",
                        "required": false,
                        "description": "Optional os to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dtCreated",
                        "required": false,
                        "description": "Optional datetime created value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "teamId",
                        "required": false,
                        "description": "Optional teamId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "userId",
                        "required": false,
                        "description": "Optional userId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "region",
                        "required": false,
                        "description": "Optional region to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TemplatesListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/getUsers": {
            "get": {
                "summary": "List information about all users available to either the current authenticated user or the team, if the user belongs to a team",
                "operationId": "UsersList",
                "tags": [
                    "users"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "required": false,
                        "description": "Optional user id to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "email",
                        "required": false,
                        "description": "Optional email to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "firstname",
                        "required": false,
                        "description": "Optional firstname to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "lastname",
                        "required": false,
                        "description": "Optional lastname to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dtCreated",
                        "required": false,
                        "description": "Optional datetime created value to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "teamId",
                        "required": false,
                        "description": "Optional teamId to match on",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Expected response to a valid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsersListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Error": {
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "JobsArtifactsDestroyRequestBody": {
                "type": "object",
                "properties": {
                    "files": {
                        "type": "string",
                        "description": "Optional; if destroying only certain files, a wildcard pattern to match against, e.g., \"myfiles*\".  Note: if you include a wildcard you must double-quote the files argument."
                    }
                }
            },
            "JobsArtifactsGetResponse": {
                "type": "object",
                "properties": {
                    "Credentials": {
                        "type": "object",
                        "properties": {
                            "AccessKeyId": {
                                "type": "string"
                            },
                            "SecretAccessKey": {
                                "type": "string"
                            },
                            "SessionToken": {
                                "type": "string"
                            }
                        }
                    },
                    "bucket": {
                        "type": "string"
                    },
                    "folder": {
                        "type": "string"
                    }
                }
            },
            "JobsArtifactsListResponse": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "file": {
                            "type": "string"
                        },
                        "size": {
                            "type": "number"
                        }
                    },
                    "required": [
                        "file",
                        "size"
                    ]
                }
            },
            "JobsCloneResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "workspaceUrl": {
                        "type": "string"
                    },
                    "workingDirectory": {
                        "type": "string"
                    },
                    "artifactsDirectory": {
                        "type": "string"
                    },
                    "entrypoint": {
                        "type": "string"
                    },
                    "projectId": {
                        "type": "string"
                    },
                    "project": {
                        "type": "string"
                    },
                    "container": {
                        "type": "string"
                    },
                    "machineType": {
                        "type": "string"
                    },
                    "cluster": {
                        "type": "string"
                    },
                    "usageRate": {
                        "type": "string"
                    },
                    "startedByUserId": {
                        "type": "string"
                    },
                    "parentJobId": {
                        "type": "string"
                    },
                    "jobError": {
                        "type": "boolean"
                    },
                    "dtCreated": {
                        "type": "string"
                    },
                    "dtModified": {
                        "type": "string"
                    },
                    "dtProvisioningStarted": {
                        "type": "string"
                    },
                    "dtProvisioningFinished": {
                        "type": "string"
                    },
                    "dtStarted": {
                        "type": "string"
                    },
                    "dtFinished": {
                        "type": "string"
                    },
                    "dtTeardownStarted": {
                        "type": "string"
                    },
                    "dtTeardownFinished": {
                        "type": "string"
                    },
                    "dtDeleted": {
                        "type": "string"
                    },
                    "exitCode": {
                        "type": "number"
                    }
                }
            },
            "JobsCreateRequestBody": {
                "type": "object",
                "required": [
                    "container"
                ],
                "properties": {
                    "container": {
                        "type": "string",
                        "description": "A required reference to a docker image in a public or private docker registry, or a container name provided by Paperspace.  Docker image repository references must be in lowercase and may include a tag and a hostname prefix followed by a slash; if ommitted the hostname defaults to that of the public Docker Hub registry.  An example docker image reference: 'docker.io/mynamespace/myimage:mytag'.  A container name may be mixed case.  (Designated container names are currently only provided as part of various Gradient tutorials and samples.)"
                    },
                    "cluster": {
                        "type": "string",
                        "description": "An optional cluster name of a cluster to run the job on. Only one of cluster or clusterId may be specified."
                    },
                    "clusterId": {
                        "type": "string",
                        "description": "An optional cluster id of a cluster to run the job on. Only one of cluster or clusterId may be specified."
                    },
                    "machineType": {
                        "type": "string",
                        "description": "An optional machine type to run the job on: either 'GPU+', 'P4000', 'P5000', 'P6000', 'V100', 'K80', 'P100', 'TPU', or 'GradientNode'.<p>Defaults to 'K80'. <P>Note: the 'K80', 'P100', and 'TPU' machineTypes run on Google Cloud Platform (GCP).  The other machineTypes run on the Paperspace Cloud.  Google Cloud platform and Paperspace Cloud have distict Job Storage spaces;  Job storage is not currently shared between these two cloud environments."
                    },
                    "name": {
                        "type": "string",
                        "description": "An optional name or description for this job.  If ommitted, the job name defaults to 'job N' where N represents the Nth job instance for the given project."
                    },
                    "project": {
                        "type": "string",
                        "description": "The name of the project for this job.  If not provided, this is taken from the .ps_project/config.json file, or the current directory name."
                    },
                    "projectId": {
                        "type": "string",
                        "description": "The poject id of an existing project for this job.  Note: if projectId is specified, the project parameter cannot be specified."
                    },
                    "command": {
                        "type": "string",
                        "description": "An optional command to run within the workspace or container."
                    },
                    "workspace": {
                        "type": "string",
                        "description": "An optional path to a workspace, or link to a git repository to upload and merge with the container.  If a zip file name is provided it is uploaded instead.  If no workspace is provided the current directory is zipped up and transferred.  If the workspace is 'none', no workspace is merged and the container is run as-is. To download a git repository provide an https repository link and optionally prefix it with 'git+', e.g. 'https://github.com/MyProjects/MyRepo.git'.  If the 'git+' prefix is not specified, it is added at the time of download to the job runner machine.  S3 links are also supported using the schema 's3://bucketname/objectname'."
                    },
                    "codeCommit": {
                        "type": "string",
                        "description": "An optional reference to git commit hash if local workspace is a git repository. Found at runtime."
                    },
                    "dataset": {
                        "type": "string",
                        "description": "An optional reference to a dataset to be merged with the container."
                    },
                    "registryUsername": {
                        "type": "string",
                        "description": "An optional username for accessing an image hosted on a private container registry.  Note: you must specify this option every time a private image is specified for the container."
                    },
                    "registryPassword": {
                        "type": "string",
                        "description": "An optional password for accessing an image hosted on a private container registry.  Note: you must specify this option every time a private image is specified for the container."
                    },
                    "workspaceUsername": {
                        "type": "string",
                        "description": "An optional username for accessing a private git repository.  Note: you must specify this option every time a private git repository is specified for the workspace."
                    },
                    "workspacePassword": {
                        "type": "string",
                        "description": "An optional password for accessing a private git repository.  We recommned using an OAuth token (GitHub instructions can be found <a href=\"https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/\">here</a>).  Note: you must specify this option every time a private git repository is specified for the workspace."
                    },
                    "ports": {
                        "type": "string",
                        "description": "An optional list of port mappings to open on the job cluster machine while the job is running.  The port mappings are specified as 'XXXX:YYYY' where XXXX is an external port number and YYYY is an internal port number.  Mulitple port mappings can be provided as a comma separated list. Port numbers must be greater than 1023. Note: only /tcp protocol usage is supported."
                    },
                    "sharedMemMBytes": {
                        "type": "number",
                        "description": "Optional; shared memory size for the job container in megabytes (1 megabyte = 1024 * 1024 bytes).  Cannot exceed total memory size for the given machine type."
                    },
                    "nodeAttrs": {
                        "type": "number",
                        "description": "Optional; a JSON expression describing the node attributes for a compatible GradientNode machine to run this job.  See the Gradient-Node documentation for more info."
                    },
                    "tail": {
                        "type": "boolean",
                        "description": "Optional; defaults to true in command line mode only.  Specify false to disable automatic tailing."
                    },
                    "json": {
                        "type": "boolean",
                        "description": "Optional; if true, do not write progress to standard out.  '--json' with no value is equivalent to true."
                    }
                }
            },
            "JobsCreateResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "workspaceUrl": {
                        "type": "string"
                    },
                    "workingDirectory": {
                        "type": "string"
                    },
                    "artifactsDirectory": {
                        "type": "string"
                    },
                    "entrypoint": {
                        "type": "string"
                    },
                    "projectId": {
                        "type": "string"
                    },
                    "project": {
                        "type": "string"
                    },
                    "container": {
                        "type": "string"
                    },
                    "machineType": {
                        "type": "string"
                    },
                    "cluster": {
                        "type": "string"
                    },
                    "usageRate": {
                        "type": "string"
                    },
                    "startedByUserId": {
                        "type": "string"
                    },
                    "parentJobId": {
                        "type": "string"
                    },
                    "jobError": {
                        "type": "boolean"
                    },
                    "dtCreated": {
                        "type": "string"
                    },
                    "dtModified": {
                        "type": "string"
                    },
                    "dtProvisioningStarted": {
                        "type": "string"
                    },
                    "dtProvisioningFinished": {
                        "type": "string"
                    },
                    "dtStarted": {
                        "type": "string"
                    },
                    "dtFinished": {
                        "type": "string"
                    },
                    "dtTeardownStarted": {
                        "type": "string"
                    },
                    "dtTeardownFinished": {
                        "type": "string"
                    },
                    "dtDeleted": {
                        "type": "string"
                    },
                    "exitCode": {
                        "type": "number"
                    },
                    "storageRegion": {
                        "type": "string"
                    },
                    "clusterMachine": {
                        "type": "string"
                    },
                    "ipAddress": {
                        "type": "string"
                    },
                    "ports": {
                        "type": "string"
                    }
                }
            },
            "JobsListResponse": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        },
                        "state": {
                            "type": "string"
                        },
                        "workspaceUrl": {
                            "type": "string"
                        },
                        "workingDirectory": {
                            "type": "string"
                        },
                        "artifactsDirectory": {
                            "type": "string"
                        },
                        "entrypoint": {
                            "type": "string"
                        },
                        "projectId": {
                            "type": "string"
                        },
                        "project": {
                            "type": "string"
                        },
                        "container": {
                            "type": "string"
                        },
                        "machineType": {
                            "type": "string"
                        },
                        "cluster": {
                            "type": "string"
                        },
                        "usageRate": {
                            "type": "string"
                        },
                        "startedByUserId": {
                            "type": "string"
                        },
                        "parentJobId": {
                            "type": "string"
                        },
                        "jobError": {
                            "type": "boolean"
                        },
                        "dtCreated": {
                            "type": "string"
                        },
                        "dtModified": {
                            "type": "string"
                        },
                        "dtProvisioningStarted": {
                            "type": "string"
                        },
                        "dtProvisioningFinished": {
                            "type": "string"
                        },
                        "dtStarted": {
                            "type": "string"
                        },
                        "dtFinished": {
                            "type": "string"
                        },
                        "dtTeardownStarted": {
                            "type": "string"
                        },
                        "dtTeardownFinished": {
                            "type": "string"
                        },
                        "dtDeleted": {
                            "type": "string"
                        },
                        "exitCode": {
                            "type": "number"
                        }
                    }
                }
            },
            "JobsLogsResponse": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "message": {
                            "type": "string"
                        },
                        "line": {
                            "type": "number"
                        }
                    }
                }
            },
            "JobsMachineTypesResponse": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "region": {
                            "type": "string"
                        },
                        "cluster": {
                            "type": "string"
                        },
                        "machineType": {
                            "type": "string"
                        },
                        "isBusy": {
                            "type": "boolean"
                        }
                    },
                    "required": [
                        "region",
                        "cluster",
                        "machineType",
                        "isBusy"
                    ]
                }
            },
            "JobsShowResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "workspaceUrl": {
                        "type": "string"
                    },
                    "workingDirectory": {
                        "type": "string"
                    },
                    "artifactsDirectory": {
                        "type": "string"
                    },
                    "entrypoint": {
                        "type": "string"
                    },
                    "projectId": {
                        "type": "string"
                    },
                    "project": {
                        "type": "string"
                    },
                    "container": {
                        "type": "string"
                    },
                    "machineType": {
                        "type": "string"
                    },
                    "cluster": {
                        "type": "string"
                    },
                    "usageRate": {
                        "type": "string"
                    },
                    "startedByUserId": {
                        "type": "string"
                    },
                    "parentJobId": {
                        "type": "string"
                    },
                    "jobError": {
                        "type": "boolean"
                    },
                    "dtCreated": {
                        "type": "string"
                    },
                    "dtModified": {
                        "type": "string"
                    },
                    "dtProvisioningStarted": {
                        "type": "string"
                    },
                    "dtProvisioningFinished": {
                        "type": "string"
                    },
                    "dtStarted": {
                        "type": "string"
                    },
                    "dtFinished": {
                        "type": "string"
                    },
                    "dtTeardownStarted": {
                        "type": "string"
                    },
                    "dtTeardownFinished": {
                        "type": "string"
                    },
                    "dtDeleted": {
                        "type": "string"
                    },
                    "exitCode": {
                        "type": "number"
                    }
                }
            },
            "JobsWaitforResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "workspaceUrl": {
                        "type": "string"
                    },
                    "workingDirectory": {
                        "type": "string"
                    },
                    "artifactsDirectory": {
                        "type": "string"
                    },
                    "entrypoint": {
                        "type": "string"
                    },
                    "projectId": {
                        "type": "string"
                    },
                    "project": {
                        "type": "string"
                    },
                    "container": {
                        "type": "string"
                    },
                    "machineType": {
                        "type": "string"
                    },
                    "cluster": {
                        "type": "string"
                    },
                    "usageRate": {
                        "type": "string"
                    },
                    "startedByUserId": {
                        "type": "string"
                    },
                    "parentJobId": {
                        "type": "string"
                    },
                    "jobError": {
                        "type": "boolean"
                    },
                    "dtCreated": {
                        "type": "string"
                    },
                    "dtModified": {
                        "type": "string"
                    },
                    "dtProvisioningStarted": {
                        "type": "string"
                    },
                    "dtProvisioningFinished": {
                        "type": "string"
                    },
                    "dtStarted": {
                        "type": "string"
                    },
                    "dtFinished": {
                        "type": "string"
                    },
                    "dtTeardownStarted": {
                        "type": "string"
[...]
